.title-row {
    position: relative;
    padding-top: 32px;
    padding-bottom: 30px;
    clear: both;
    display: block;
    overflow: hidden;
    .title-area {
        float: left;
        margin-bottom: 0px;
        h3 {
            margin-bottom: 0;
        }
        @include mobile{
            margin-bottom: 0px;
            margin-top: 4px;
        }
    }
    .switchArea {
        width: auto;
        float: right;
        text-align: right;
        margin-left: 15px;
        input[type="radio"]{
            list-style: none;
            opacity: 0;
            width: 100%;
            position: absolute;
            left: 0px;
            height: 100%;
            cursor: pointer;
            top: 0;
        }
        .form-group {
            margin-bottom: 0;
        }
        .btn-outline-primary{
            font-family: $font_bold;
        }
        &.selectbox {
            width: 210px;
            @include tablet {
                width: 155px;
            }
        }
        @include mobile{
            .btn-group-toggle{
                .btn{
                    min-width: 65px;
                    padding: 7px 2px;
                }
            }
        }
    }
    .title-icon {
        width: 42px;
        height: 42px;
        border-radius: 8px;
        vertical-align: middle;
        margin-right: 15px;
        border: solid 1px $grey-xlite;
        text-align: center;
        background: #fff;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -5px;
        img {
            border-radius: 8px;
        }
    }
}
.breadcrumb {
    display: inline-block;
    background: none !important;
    padding: 0 0 0 0;
    margin: 0;
    position: relative;
    li {
        display: inline-block;
        font-family: $other_font_bold;
        // font-size: 1.5rem !important;
        @include font-size(1.5);
        color: $secondary !important;
        text-decoration: none;
        padding-top: 6px;
        position: relative;
        margin-right: 10px;
        padding-right: 21px;
        @include tabletL {
            @include font-size(1.3);
        }
        @include tablet {
            @include font-size(1);
        }
        a {
            font-family: $other_font_bold;
            // font-size: 1.5rem !important;
            @include font-size(1.5);
            color: $secondary;
            text-decoration: none;
            @include tabletL {
                @include font-size(1.3);
            }
            @include tablet {
                @include font-size(1);
            }
        }
        &:before {
            content: '' !important;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            position: absolute;
            right: 0;
            top: 18px;
            display: block;
            background: #ccc;
        }
        &:last-child {
            &:before {
                display: none;
            }
        }
        @include tablet {
            &:before {
                top: 12px;
            }
        }
    }
}
