html {
    font-size: 16px;
}
body {
    background: $body-bg;
    color: $body-color;
    line-height: normal;
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
    overflow-x: hidden;
}
p {
    font-size: 0.875rem;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: underline;
}
hr {
    border-color: $grey-xlite;
}
.font-bold {
    font-family: $font-bold;
}
.middle-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    &.flex-start {
        justify-content: flex-start;
    }
}
.container {
    // max-width: 1215px;
    &.full {
        max-width: 100%;
    }
    @include Desktop1380 {
        // max-width: 1170px;
        // padding: 0px 20px;
        max-width: none;
        padding: 0px 40px;
    }
    @include windowS {
        // max-width: 1140px;
        // padding: 0px 75px;
        max-width: none;
        padding: 0px 40px;
    }
    @include tabletL {
        padding: 0px 75px;
    }
    @include tablet {
        padding: 0px 25px;
    }
}

.main-session-start {
    .main-content {
        @include tabletL {
            padding-top: 0px;
        }
    }
}
.main-content {
    padding-bottom: 25px;
    min-height: calc(100vh - 110px);
    @include tabletL {
        padding-top: 0px;
    }

    @include mobileS {
        min-height: calc(100vh - 60px);
    }

    .container {
        @include tablet {
            padding: 0px 25px;
        }
    }
}

.front-site {
    .main-content {
        @include tabletL {
            padding-top: 52px;
        }
    }
}

.no-record-found {
    display: table;
    width: 100%;
    min-height: 280px;
    .middle-align {
        display: table-cell;
        vertical-align: middle;
        img {
            height: 60px;
            margin: auto;
            margin-bottom: 12px;
        }
        p {
            @include font-size(0.9);
            text-align: center;
        }
    }
}

.left-menu-show {
    display: none;
    @include mobile {
        display: block;
        position: fixed;
        z-index: 99;
        width: 37px;
        height: auto;
        padding: 0 12px 0 0;
        border-radius: 4px;
        left: 15px;
        top: 12px;
        border-radius: 0;
        border: none;
        border-right: solid 1px $grey-xlite;
        top: 0;
        height: 42px;
        img {
            position: relative;
            top: 10px;
        }
    }
}

.show-spinner {
    span {
        visibility: hidden;
    }
    .loader {
        display: block;
    }
}

.forgot-password-link {
    position: relative;
    top: 3px;
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
}

textarea {
    &::-webkit-scrollbar-track {
        background-color: $body-bg;
        border-radius: 51px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: $body-bg;
        border-radius: 51px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #cfd4d9;
        border-radius: 51px;
    }
}

.user-avatar {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: transparent;
    overflow: hidden;
    border-radius: 100% !important;
    margin-right: 10px;
}

.pink-color {
    color: $pink;
}

/*
    Status bults
*/
.status-blts {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    left: 8px;
    top: 8px;
    background: transparent;
    z-index: 9;
    &.default {
        background: #9d9f8f;
    }
    &.active {
        background: $primary;
    }
    &.pending {
        background: $yellow;
    }
    &.danger,
    &.blocked {
        background: $danger;
    }
}
// scroll ui
.scrollable {
    height: calc(100% - 115px);
    overflow-y: auto;
    &::-webkit-scrollbar-track {
        background-color: $body-bg;
        border-radius: 51px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background-color: $body-bg;
        border-radius: 51px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #cfd4d9;
        border-radius: 51px;
    }
}

// scroll style

#style-2::-webkit-scrollbar-track {
    border-radius: 15px;
    background-color: #f1f3f5;
}

#style-2::-webkit-scrollbar {
    width: 5px;
    background-color: #ced3d8;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #ced3d8;
}

.text-ellipsis {
    width: 100%;
    padding-right: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding-right: 70px;
}

.model-medium {
    .modal-md {
        max-width: 480px;
    }
}

$spaceamounts: (
    0,
    5,
    10,
    15,
    20,
    24,
    25,
    30,
    35,
    40,
    45,
    50,
    75,
    100,
    130
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
    @each $side in $sides {
        body {
            .m-#{str-slice($side, 0, 1)}-#{$space} {
                margin-#{$side}: #{$space}px !important;
            }

            .p-#{str-slice($side, 0, 1)}-#{$space} {
                padding-#{$side}: #{$space}px !important;
            }
        }
    }
}

// heading sizes
.session-main {
    h2 {
        font-size: 1.5rem;
        @include tabletL {
            font-size: 20px;
        }
        @include tabletL {
            font-size: 18px;
        }
        @include tablet {
            font-size: 16px;
        }
    }
    h3 {
        font-size: 1rem;
        line-height: 1.6rem;
    }
    h4 {
        font-size: 0.875rem;
    }
    h5 {
        font-size: 0.75rem;
    }
}
.not-allowed {
    cursor: not-allowed;
}
.truncate-title {
    width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pointer-none {
    pointer-events: none;
}
.right-side-btn{
    text-align: right;
    float: right;
    padding-right: 0;
}
header.header .fixed-header .logo {
    margin-top: -10px;
    @include mobile {
        margin-top: -4px;
        width: 140px;
    }
}

.tooltip-container{
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    .tooltip{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        padding: 3px 2px;
        background-color: #111;
        color: #fff;
    }
}
.custom-image {
    width: 42px;
    height: 42px;
    background-size: cover;
    margin-top: 15px;
    overflow: hidden;
    border-radius: 6px;
}

img[lazy="loading"] {
    padding: 100px 40px;
    margin: auto;
}

.logo-block-loader {
    width: 200px;
}

.logo-animation {
    position: relative;
    animation-name: logokeyframe;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.character-label-icon, .character-option-icon {
    width: 20px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 8px;
}

@keyframes logokeyframe {
    0%  {    
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
}